@{
    ViewData["Title"] = "Admin Dashboard";
    Layout = "~/Views/Shared/_Layout_User.cshtml";
}

<div class="text-center">
    <h2>Admin Dashboard</h2>
    <p>Welcome, Admin! You can manage users, doctors, and patients here.</p>
</div>