@{
    ViewData["Title"] = "Doctor Dashboard";
    Layout = "~/Views/Shared/_Layout_User.cshtml";
}

<div class="text-center">
    <h2>Doctor Dashboard</h2>
    <p>Welcome, Doctor! You can manage your patients here.</p>
</div>